$desktop: 1252px;

$tablet: 1024px;
$tablet-above: 1025px;

$mobile-above: 769px;
$mobile: 768px;
$mobile-xxs: 440px;


@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}


@mixin tablet-above {
    @media (min-width: $tablet-above) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}


@mixin mobile-above {
    @media (min-width: $mobile-above) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-xxs {
    @media (max-width: $mobile-xxs) {
        @content;
    }
}

@mixin hover($hasActiveEffectOnMobile: true) {

    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }


    @if ($hasActiveEffectOnMobile) {
        @media (any-hover: none) {
            &:active {
                @content;
            }
        }
    }
}