@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.contacts {
    @include background;
}

.contacts__container {
    display: flex;
    justify-content: center;
    gap: 48px;

    @include tablet {
        flex-direction: column;
        gap: 24px;
    }
}

.contacts__form {
    flex: 0 1 50%;

    border-radius: 24px;
    padding: 48px;

    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05), 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    background: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;

    @include mobile {
        padding: 16px;
    }
}

.contacts__container-inner {
    display: flex;
    flex-direction: column;
    gap: 26px;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.contacts__card {
    max-width: 350px;
    border-radius: 12px;
    padding: 18px;
    background: var(--white);

    display: flex;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
    flex: 0 1 100%;
    @include transition;

    & {
        @include card;
    }

    &:hover {
        @include hover-card;
    }

    @include tablet {
        max-width: 483px;
        flex: 0 1 48%;

    }

    @include mobile {
        max-width: 958px;
        flex: 0 1 100%;

    }

    &-overtext {
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: var(--schemes-secondary);
    }

    &-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: var(--color-theme-black);

        span {
            padding-left: 12px;
        }
    }
}