@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.form__title {
    font-weight: 500;
    line-height: 127%;
    color: var(--color-theme-sys-light-on-background);
    letter-spacing: 0.01em;
    text-align: center;
    @include fluid-text(22, 16);
    @include fluid-padding-bottom(36, 16);

    @include mobile {
        line-height: 150%;
    }
}

.data__form {
    display: flex;

    & {
        flex-direction: column;
        @include fluid-gap(12, 8);
    }

}

.data__form-overtext {
    font-weight: 500;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--schemes-secondary);
    position: relative;

    display: flex;
    flex-direction: column;
    @include fluid-text(14, 11);
    @include fluid-gap(4, 0);

    @include mobile {
        line-height: 145%;
        letter-spacing: 0.05em;
    }
}

.input {
    border: 1px solid var(--color-theme-sys-light-secondary);
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.03em;
    font-size: 18px;
    color: var(--color-theme-sys-light-secondary);

    outline: none;
    appearance: none;
    transition: border 0.1s;


    @include fluid-border-radius(12, 8);
    @include fluid-height(60, 40);
    @include fluid-padding-top(12, 8);
    @include fluid-padding-right(12, 8);
    @include fluid-padding-bottom(12, 8);
    @include fluid-padding-left(57, 53);

    @include mobile {
        line-height: 143%;
        letter-spacing: 0.02em;
    }

    &:focus {
        cursor: text;
        border: 2px solid var(--color-theme-sys-light-secondary);
    }
}

.input:focus+.data__form-placeholder {
    @include hide;
}

.input-tel:user-valid {
    border: 2px solid var(--light-gray);
}

.input-tel:user-invalid {
    border: 2px solid var(--dangerous);
}

.data__form-placeholder {
    display: block;
    position: absolute;
    @include fluid-top(42, 25);
    left: 57px;
    pointer-events: none;

    span {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: var(--color-theme-sys-light-secondary);
    }
}

.data__form-img {
    position: absolute;
    @include fluid-top(35, 25);
    left: 12px;
    @include fluid-height(37, 24);
    @include fluid-width(37, 24);
}



.data__form-button {
    @include fluid-margin-top(24, 4);
    flex: 0 1 100%;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05), 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    background: var(--color-theme-sys-light-primary);
    @include fluid-border-radius(12, 8);
    @include fluid-min-height(64, 36);
    @include fluid-text(22, 14);
    font-weight: 500;
    line-height: 127%;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    @include flex-center;

    @include mobile {
        font-weight: 400;
        line-height: 143%;
        letter-spacing: 0.02em;
    }
}

.tel-errors {
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--color-theme-sys-light-error);
    opacity: 0;
    transition: opacity 0.1s;
    visibility: hidden;

}

.input-tel:user-invalid+.tel-errors {
    opacity: 1;
    visibility: visible;
}

.result {
    background-color: var(--white);
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
}