@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.modal__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--color-theme-black);
    padding-bottom: 24px;
    text-align: center;

    @include tablet {
        font-size: 20px;
        line-height: 140%;
    }
}

.data__form {
    display: flex;

    & {
        flex-direction: column;
        gap: 24px;
    }

}

.input {
    border: 2px solid var(--schemes-secondary);
    border-radius: 12px;
    padding: 12px 12px 12px 57px;
    min-height: 60px;

    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--schemes-secondary);
    outline: none;
    appearance: none;
    transition: border 0.3s;
}

.input:focus {
    cursor: text;
    border: 2px solid var(--schemes-border);
}

.input:focus+.data__form-placeholder {
    @include hide;
}

.data__form-input {
    border: 2px solid var(--schemes-secondary);
    border-radius: 12px;
    padding: 12px 12px 12px 57px;
    min-height: 60px;
    flex: 0 1 100%;

    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--schemes-secondary);
    outline: none;
    appearance: none;
    transition: border 0.3s;

    &:focus {
        cursor: text;
        border: 2px solid var(--schemes-border);
    }
}

.data__form-input:focus+.data__form-placeholder {
    @include hide;
}

.data__form-overtext {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--schemes-secondary);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 533px;

    @include tablet {
        max-width: 832px;
    }
}

.data__form-placeholder {
    display: block;
    position: absolute;
    left: 57px;
    top: 42px;
    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--schemes-secondary);
    pointer-events: none;

    span {
        padding-left: 12px;
        text-align: center;
        padding-bottom: 3px;
    }
}

.data__form-svg {
    position: absolute;
    top: 40px;
    left: 12px;
}

.input:user-valid {
    border: 2px solid var(--light-gray);
}

.input:user-invalid {
    border: 2px solid var(--dangerous);
}

.button {
    flex: 0 1 100%;
    background: var(--schemes-primary);
    border-radius: 12px;
    padding: 16px;
    min-height: 76px;
    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    color: var(--schemes-on-primary);
    text-align: center;
    cursor: pointer;
    @include flex-center;
}

.mobile-form {
    @include mobile {
        gap: 12px;
    }
}

.mobile-input {
    @include mobile {
        min-height: 48px;
        padding: 6px 6px 6px 57px;
    }
}

.mobile-button {
    @include mobile {
        min-height: 46px;
        padding: 12px;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
    }
}

.mobile-placeholder {
    @include mobile {
        top: 37px;

        span {
            @include mobile {
                font-size: 20px;
                line-height: 140%;
            }
        }
    }
}

.mobile__form-placeholder {
    @include mobile {
        left: 46px;
    }

    span {
        @include mobile {
            font-size: 20px;
            line-height: 140%;
        }
    }
}

.mobile-svg {
    @include mobile {
        top: 34px;
    }
}