@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.header {
    @include background;

    & {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 108px;
        padding: 0 15px;

        @include desktop-xl {
            height: 94px;
        }
    }
}

.header__overlay {
    @include mobile-above {
        display: contents;
    }

    @include tablet {
        position: fixed;
        height: 100vh;
        inset: 0;
        padding: 15px;
        background-color: #D2E4FF;
        transition-duration: 0.3s;

        display: flex;
        justify-content: center;
        gap: 24px;
        z-index: 99;

        &:not(.is-active) {
            @include hide;

            & {
                translate: 100%;
            }
        }
    }
}

.header__menu {
    &:not(.is-active) {
        display: none;
    }

    &-list {
        display: flex;
        gap: var(--indent);

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        color: var(--schemes-on-background);
        position: relative;
        height: 108px;
        display: inline-flex;
        align-items: center;

        @include tablet {
            height: 50px;
            text-align: center;
        }

        &::after {
            content: "";
            position: absolute;
            top: 70%;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 2px;
            background-color: var(--schemes-on-background);
            transition-duration: 0.4s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.header__menu-overlay {
    &:not(.is-active) {
        display: none;

        & {
            translate: 100%;
        }
    }

    & {
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        color: var(--schemes-on-primary-container);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 50px;
    }
}

.header__button {
    border: 1px solid var(--schemes-on-primary-container);
    border-radius: 8px;
    min-width: 285px;
    height: 60px;
    background: var(--white);

    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    color: var(--schemes-on-primary-container);

    @include flex-center;

    @include desktop-xl {
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
        min-width: 230px;
        height: 46px;
    }

    @include tablet {
        order: -1;
    }
}