@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.hero-bg {
    @include background;
}

.hero {
    min-height: calc(100vh - 108px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__inner-card {
    margin: 48px 0;
}

.title {
    font-weight: 400;
    line-height: 112%;
    letter-spacing: 0em;
    text-align: center;
    color: var(--schemes-on-background);
    font-size: min(57px, 5vh);

    @include mobile {
        font-size: 32px;
        line-height: 125%;
    }

    @include mobile-xxs {
        font-size: 26px;
        line-height: 106%;
    }
}

.subtitle {
    font-weight: 400;
    line-height: 129%;
    text-align: center;
    color: var(--schemes-on-background);
    padding-top: var(--indent);
    font-size: min(28px, 3vh);

    @include mobile {
        font-size: 20px;
        line-height: 120%;
    }

    @include mobile-xxs {
        font-size: 17px;
        line-height: 107%;
    }
}

.logos-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px;
    background: var(--white);
    gap: var(--indent);
    max-width: 725px;
    height: 320px;
    flex: 0 1 100%;
    overflow: hidden;
}

.item {
    max-width: 108px;
    height: 50px;

    @include mobile-xxs {
        max-width: 72px;
    }
}

.item-l {
    max-width: 108px;
    height: 50px;

    @include mobile-xxs {
        max-width: 72px;
    }
}

.logos {
    backdrop-filter: blur(4px);
    background: var(--white);
}

.marquee-top {
    display: flex;
    block-size: var(--marquee-item-height);
    margin: 48px 24px 24px 24px;
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee--3 {
    --marquee-item-width: 191px;
    --marquee-item-height: 100px;
    --marquee-duration: 24s;
    --marquee-items: 7;

    @include tablet {
        --marquee-item-width: 108px;
        --marquee-item-height: 100px;
    }

}

.marquee__item {
    --marquee-item-offset: max(calc(var(--marquee-item-width) * var(--marquee-items)),
            calc(100% + var(--marquee-item-width)));
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: go linear reverse var(--marquee-duration) var(--marquee-delay, 0s) infinite;

    @include tablet {
        width: 108px;
        height: 100px;
    }

}


.marquee__item:nth-child(7n) {
    border-top-right-radius: 1rem;
}

.marquee__item:nth-child(7n + 1) {
    border-bottom-right-radius: 1rem;
}

.marquee__item:nth-child(7n + 2) {
    border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(7n + 3) {
    border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(7n + 4) {
    border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(7n + 5) {
    border-bottom-left-radius: 1rem;
}

.marquee__item:nth-child(7n + 6) {
    border-bottom-left-radius: 1rem;
}

.marquee--3 .marquee__item:nth-of-type(1) {
    --marquee-item-index: 1;
}

.marquee--3 .marquee__item:nth-of-type(2) {
    --marquee-item-index: 2;
}

.marquee--3 .marquee__item:nth-of-type(3) {
    --marquee-item-index: 3;
}

.marquee--3 .marquee__item:nth-of-type(4) {
    --marquee-item-index: 4;
}

.marquee--3 .marquee__item:nth-of-type(5) {
    --marquee-item-index: 5;
}

.marquee--3 .marquee__item:nth-of-type(6) {
    --marquee-item-index: 6;
}

.marquee--3 .marquee__item:nth-of-type(7) {
    --marquee-item-index: 7;
}

@keyframes go {
    to {
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}

.marquee-bottom {
    display: flex;
    block-size: var(--marquee-item-height);
    margin: 0 24px 48px 24px;
    position: relative;
    overflow-x: hidden;
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee--4 {
    --marquee-item-width: 191px;
    --marquee-item-height: 100px;
    --marquee-duration: 24s;
    --marquee-items-b: 7;

    @include tablet {
        --marquee-item-width: 108px;
        --marquee-item-height: 100px;
    }

}

.marquee__item-b {
    --marquee-item-offset: max(calc(var(--marquee-item-width) * var(--marquee-items-b)),
            calc(100% + var(--marquee-item-width)));
    --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items-b) * (var(--marquee-items-b) - var(--marquee-item-index)) * -1);
    position: absolute;
    inset-inline-start: var(--marquee-item-offset);
    transform: translateX(-50%);
    animation: goB linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;

    @include tablet {
        width: 108px;
        height: 100px;
    }

}

.marquee__item-b:nth-child(7n) {
    border-top-right-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 1) {
    border-bottom-right-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 2) {
    border-bottom-left-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 3) {
    border-bottom-left-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 4) {
    border-bottom-left-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 5) {
    border-bottom-left-radius: 1rem;
}

.marquee__item-b:nth-child(7n + 6) {
    border-bottom-left-radius: 1rem;
}

.marquee--4 .marquee__item-b:nth-of-type(1) {
    --marquee-item-index: 1;
}

.marquee--4 .marquee__item-b:nth-of-type(2) {
    --marquee-item-index: 2;
}

.marquee--4 .marquee__item-b:nth-of-type(3) {
    --marquee-item-index: 3;
}

.marquee--4 .marquee__item-b:nth-of-type(4) {
    --marquee-item-index: 4;
}

.marquee--4 .marquee__item-b:nth-of-type(5) {
    --marquee-item-index: 5;
}

.marquee--4 .marquee__item-b:nth-of-type(6) {
    --marquee-item-index: 6;
}

.marquee--4 .marquee__item-b:nth-of-type(7) {
    --marquee-item-index: 7;
}

@keyframes goB {
    to {
        inset-inline-start: calc(var(--marquee-item-width) * -1);
    }
}