@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.link {
    @include flex-center;

    & {
        gap: var(--indent);
    }

    @include mobile-xxs {
        flex-direction: column;
        gap: 12px;
    }
}

.link-left {
    background: var(--schemes-primary);
    border-radius: 12px;
    min-width: 288px;
    min-height: min(78px, 7vh);

    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    color: var(--schemes-on-primary);
    cursor: pointer;

    @include flex-center;

    @include mobile {
        border-radius: 8px;
        min-width: 192px;
        min-height: 46px;

        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
    }
}

.link-right {
    background: var(--schemes-on-primary);
    border: 2px solid var(--schemes-primary);
    border-radius: 12px;
    min-width: 288px;
    min-height: 78px;
    min-height: min(78px, 7vh);

    font-weight: 400;
    font-size: 22px;
    line-height: 127%;
    color: var(--schemes-primary);
    cursor: pointer;

    @include flex-center;

    @include mobile {
        border-radius: 8px;
        min-width: 192px;
        min-height: 46px;

        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
    }
}