@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.link-container {
    @include flex-center;

    & {
        gap: var(--indent);
    }

    @include mobile {
        gap: 8px;
    }
}

.link {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05), 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    font-weight: 500;
    line-height: 127%;
    cursor: pointer;
    @include fluid-height (78, 44);
    @include fluid-width(288, 140);
    @include fluid-text(22, 14);
    @include fluid-border-radius(12, 8);
    @include flex-center;


    @include mobile {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.02em;
        flex: 0 1 100%;
    }
}

.link-left {
    border: 2px solid var(--color-theme-sys-light-primary);
    background: var(--white);
    color: var(--color-theme-sys-light-primary);

    &:hover {
        background: #f0f0f0;
    }

}

.link-right {
    background: var(--color-theme-sys-light-primary);
    color: var(--color-theme-white);

    &:hover {
        background: #30527a;
    }
}