@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.link {
    @include flex-center;

    & {
        gap: var(--indent);
    }
}

.link-left {
    background: var(--schemes-primary);
    border-radius: 12px;
    min-width: 300px;
    min-height: 80px;

    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--schemes-on-primary);

    @include flex-center;

    @include mobile {
        border-radius: 8px;
        min-width: 192px;
        min-height: 46px;

        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
    }
}

.link-right {
    background: var(--schemes-on-primary);
    border: 2px solid var(--schemes-primary);
    border-radius: 12px;
    min-width: 300px;
    min-height: 80px;

    font-weight: 400;
    font-size: 24px;
    line-height: 133%;
    color: var(--schemes-primary);

    @include flex-center;

    @include mobile {
        border-radius: 8px;
        min-width: 192px;
        min-height: 46px;

        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0em;
    }
}