@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.modal {
    position: fixed;
    left: 0;
    top: 0;
    align-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000000;
    padding: 10px;
    overflow-y: auto;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

.modal-box {
    display: flex;
    flex-direction: column;
    max-width: 587px;
    position: relative;
    box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);
    background: var(--white);
    margin: auto;
    @include fluid-padding-top(48, 18);
    @include fluid-padding-left(48, 12);
    @include fluid-padding-right(48, 12);
    @include fluid-padding-bottom(48, 18);
    @include fluid-border-radius(24, 12);
}

.modal-text {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--color-theme-sys-light-outline);
    text-align: center;
    @include fluid-padding-top(24, 16);
    @include fluid-text(16, 12);

    @include mobile {
        line-height: 133%;
    }
}

.modal__link-container {
    @include fluid-padding-top(8, 4);
    @include flex-center;

    & {
        gap: 28px;
    }

}

.modal__link {
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.05), 0 1px 4px 0 rgba(12, 12, 13, 0.1);
    background: var(--white);
    @include fluid-width(72, 48);
    @include fluid-height(72, 48);
    @include transition;

    &:hover {
        @include hover-card;
    }
}