@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.price {
    background-color: var(--schemes-surface-bright);
}

.price__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--indent);
    min-height: 620px;

    @include mobile {
        grid-template-columns: 1fr 1fr;
    }

    @include mobile-xxs {
        grid-template-columns: 1fr;
    }
}

.price__card {
    background: var(--white);
    border-radius: 24px;
    padding: 24px;

    @include flex-center;

    & {
        @include transition;
    }

    & {
        @include card;
    }

    &:hover {
        @include hover-card;
    }

    & {
        gap: 24px;
        flex-direction: column;
        flex: 0 1 100%;

    }

    &-text {
        @include flex-center;

        & {
            flex-direction: column;
            gap: 12px;
        }
    }

    &-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        color: var(--color-theme-black);
        display: flex;
        text-align: center;
    }

    &-img {
        margin-right: 12px;
        width: 36px;
        height: 36px;
    }

    &-subtitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 127%;
        color: var(--color-theme-black);
    }

    &-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        text-decoration-skip-ink: none;
        color: var(--schemes-primary);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 28px;
            left: 50%;
            translate: -50%;
            width: 0;
            height: 2px;
            background-color: var(--schemes-primary);
            transition-duration: 0.4s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}