@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.questions {
    background-color: var(--schemes-surface-bright);
}

.card-answer {
    text-align: justify;
}

.cursor {
    cursor: default !important;
}