@use '../base/config.scss' as *;
@use '../helpers/index.scss' as *;

.work {
    @include background;
}

.work__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;

    @include desktop-xl {
        gap: 14px;
    }
}

.work__card-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 56px;

    @include desktop-xl {
        gap: 14px;
    }

    @include mobile {
        flex-wrap: wrap;
    }
}

.card-wrap {
    @include desktop-xl {
        flex-wrap: wrap;
    }
}

.work__card {
    flex: 0 1 50%;
    border-radius: 24px;
    padding: 24px;
    background: var(--white);


    @include flex-center;

    & {
        @include transition;
    }

    & {
        @include card;
    }

    @include mobile {
        padding: 16px 12px;
    }

    &:hover {
        @include hover-card;
    }

    & {
        gap: 24px;
        flex-direction: column;
    }

    @include mobile {
        flex: 0 1 100% !important;
    }


    &-text {
        @include flex-center;

        & {
            flex-direction: column;
            gap: 12px;
        }
    }

    &-title {
        font-weight: 400;
        font-size: 32px;
        line-height: 125%;
        color: var(--color-theme-black);
        display: inline-flex;

        img {
            margin-right: 12px;
            width: 36px;
            height: 36px;
        }
    }

    &-subtitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 127%;
        text-align: center;
        color: var(--color-theme-sys-light-on-primary-container);
    }

    &-link {
        font-weight: 400;
        font-size: 24px;
        line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--schemes-primary);
    }
}

@include desktop-xl {
    .card-first {
        flex: 0 1 49.2%;
    }

    .card-child {
        flex: 0 1 49.2%;
    }

    .card-last {
        flex: 0 1 100%;
    }
}