@use "variables" as *;
@use "../helpers/index" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-d) * 2);
  margin-inline: auto;
  padding: 108px var(--container-padding-d) 48px var(--container-padding-d);

  @include tablet {
    padding: 94px var(--container-padding-t) 36px var(--container-padding-t);
  }

  @include mobile {
    padding: 96px var(--container-padding-m) 32px var(--container-padding-m);
  }
}

.hero-inner {
  max-width: calc(var(--container-width) + var(--container-padding-d) * 2);
  margin-inline: auto;
  padding: 96px var(--container-padding-d) 48px var(--container-padding-d);

  @include desktop-l {
    padding: 36px var(--container-padding-t) 36px var(--container-padding-t);
  }

  @include tablet {
    padding: 36px var(--container-padding-t) 36px var(--container-padding-t);
  }

  @include mobile {
    padding: 16px var(--container-padding-m) 32px var(--container-padding-m);
  }
}

.inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-card {
  padding: 48px 0;
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.visually-tablet {
  display: none;

  @include tablet {
    display: block;
  }
}