<h4 class="form__title">Оставьте заявку для бесплатной консультации</h4>
<form class="data__form data__form-modal" name="form" method="POST">
  <p class="field">
    <label class="data__form-overtext" for="tel"
      >Номер телефона
      <input
        data-js-input
        class="input input-tel"
        id="tel"
        name="phoneNumber"
        type="tel"
        required
        aria-describedby="tel-errors"
        autocomplete="off"
        minlength="11"
        maxlength="12"
      />
      <span class="tel-errors">Неправильный формат</span>
      <label for="tel" class="data__form-placeholder">
        <span data-js-name> +7 (999) 888-99-99</span>
      </label>
      <img
        class="data__form-img"
        width="37"
        height="37"
        loading="lazy"
        src="../img/phone-linear.svg"
        alt="telephone"
      />
    </label>
  </p>
  <p class="field">
    <label class="data__form-overtext" for="name"
      >Имя
      <input
        data-js-input
        class="input"
        name="name"
        id="name"
        type="text"
        pattern="^[a-zA-Zа-яА-ЯЁё \-]+$"
        data-error-message="Разрешены символы латиницы,
        кириллицы, знаки дефиса и пробелы."
        aria-describedby="name-errors"
        minlength="2"
        maxlength="32"
        autocomplete="off"
      />

      <label for="name" class="data__form-placeholder">
        <span data-js-name>Ваше имя</span>
      </label>
      <img
        class="data__form-img"
        width="37"
        height="37"
        loading="lazy"
        src="../img/symbols_person.svg"
        alt="person"
      />
    </label>
  </p>
  <button class="data__form-button" type="submit" id="submit">
    Оставить заявку
  </button>
</form>
