<header class="header" data-js-header>
  <div class="header__inner header-container">
    <div class="header__overlay" data-js-header-overlay>
      <nav class="header__menu is-active" data-js-header-overlay-nav-isActive>
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a class="header__menu-link menu-item-svg" href="#price">Цены </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#work">Процесс</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#questions">Вопросы</a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#contacts">Контакты</a>
          </li>
        </ul>
      </nav>
      <nav class="header__menu-overlay" data-js-header-overlay-nav>
        <ul class="header__menu-list">
          <li class="header__menu-item">
            <a
              class="header__menu-link menu-item-svg"
              href="#price"
              data-js-header-price
              >Стоимость работ
            </a>
          </li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#work" data-js-header-work
              >Процесс работы</a
            >
          </li>
          <li class="header__menu-item">
            <a
              class="header__menu-link"
              href="#questions"
              data-js-header-questions
              >Частые вопросы</a
            >
          </li>
          <li class="header__menu-item">
            <a
              class="header__menu-link"
              href="#contacts"
              data-js-header-contacts
              >Мои контакты</a
            >
          </li>
        </ul>
        <div class="link">
          <a class="link-left link-mobile" href="#" data-js-button
            >Оформить заявку</a
          >
        </div>
      </nav>
    </div>
    <button class="header__button" type="button" data-js-button>
      Получить консультацию
    </button>
    <button
      class="header__burger-button burger-button visually-tablet"
      type="button"
      aria-label="Открыть новигационное меню"
      data-js-header-burger-button
    >
      <span class="burger-button__line"></span>
      <span class="burger-button__line"></span>
      <span class="burger-button__line"></span>
      <span class="burger-button__line">
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            opacity="0.8"
            d="M3.2 7L7.06667 10.8667C7.1881 10.9891 7.28325 11.135 7.3463 11.2955C7.40935 11.456 7.43897 11.6277 7.43334 11.8C7.43897 11.9723 7.40935 12.144 7.3463 12.3045C7.28325 12.465 7.1881 12.6109 7.06667 12.7333C6.94425 12.8548 6.79832 12.9499 6.63784 13.013C6.47735 13.076 6.30568 13.1056 6.13334 13.1C5.961 13.1056 5.78933 13.076 5.62884 13.013C5.46835 12.9499 5.32243 12.8548 5.2 12.7333L0.400006 7.93333C0.273191 7.81327 0.172285 7.66854 0.103495 7.50803C0.0347044 7.34751 -0.000514388 7.17463 5.67673e-06 7C5.67673e-06 6.64444 0.133339 6.33333 0.400006 6.06666L5.2 1.26666C5.32243 1.14524 5.46835 1.05009 5.62884 0.987037C5.78933 0.923988 5.961 0.89437 6.13334 0.899997C6.51112 0.899997 6.82223 1.02222 7.06667 1.26666C7.1881 1.38909 7.28325 1.53501 7.3463 1.6955C7.40935 1.85599 7.43897 2.02766 7.43334 2.2C7.43897 2.37233 7.40935 2.544 7.3463 2.70449C7.28325 2.86498 7.1881 3.01091 7.06667 3.13333L3.2 7Z"
            fill="#535F70"
          />
        </svg>
      </span>
    </button>
  </div>
</header>
