<section class="hero">
  <div class="hero-container container">
    <div>
      <h2 class="hero__title title">
        Ремонт холодильников <br />в Санкт-Петербурге
      </h2>
      <p class="hero__subtitle subtitle">
        Сохраняю холод без посредников и переплат
      </p>
    </div>

    <!-- <div class="logos inner-card hidden-mobile">
      <div class="marquee-top marquee--3">
        <img
          class="marquee__item"
          src="../img/sprite.svg#atlant"
          width="191"
          height="100"
          alt="atlant"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#beko"
          width="191"
          height="100"
          alt="beko"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#бирюса"
          width="191"
          height="100"
          alt="бирюса"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#bosch"
          width="191"
          height="100"
          alt="bosch"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#electrolux"
          width="191"
          height="100"
          alt="electrolux"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#gorenje"
          width="191"
          height="100"
          alt="gorenje"
        />
        <img
          class="marquee__item"
          src="../img/sprite.svg#haier"
          width="191"
          height="100"
          alt="haier"
        />
      </div>
      <div class="marquee-bottom marquee--4">
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#indesit"
          width="191"
          height="100"
          alt="indesit"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#hisense"
          width="191"
          height="100"
          alt="hisense"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#lg"
          width="191"
          height="100"
          alt="lg"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#samsung"
          width="191"
          height="100"
          alt="samsung"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#siemens"
          width="191"
          height="100"
          alt="siemens"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#whirlpool"
          width="191"
          height="100"
          alt="whirlpool"
        />
        <img
          class="marquee__item-b"
          src="../img/sprite.svg#zanussi"
          width="191"
          height="100"
          alt="zanussi"
        />
      </div>
    </div> -->
    <div class="inner-card visually-mobile">
      <div class="logos-mobile">
        <img
          class="item"
          src="../img/sprite.svg#atlant"
          width="191"
          height="100"
          alt="atlant"
        />
        <img
          class="item"
          src="../img/sprite.svg#beko"
          width="191"
          height="100"
          alt="beko"
        />
        <img
          class="item"
          src="../img/sprite.svg#бирюса"
          width="191"
          height="100"
          alt="бирюса"
        />
        <img
          class="item"
          src="../img/sprite.svg#beko"
          width="191"
          height="100"
          alt="bosch"
        />
        <img
          class="item"
          src="../img/sprite.svg#electrolux"
          width="191"
          height="100"
          alt="electrolux"
        />
        <img
          class="item"
          src="../img/sprite.svg#gorenje"
          width="191"
          height="100"
          alt="gorenje"
        />
        <img
          class="item"
          src="../img/sprite.svg#haier"
          width="191"
          height="100"
          alt="haier"
        />
        <img
          class="item"
          src="../img/sprite.svg#hisense"
          width="191"
          height="100"
          alt="hisense"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#indesit"
          width="191"
          height="100"
          alt="indesit"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#lg"
          width="191"
          height="100"
          alt="lg"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#samsung"
          width="191"
          height="100"
          alt="samsung"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#siemens"
          width="191"
          height="100"
          alt="siemens"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#whirlpool"
          width="191"
          height="100"
          alt="whirlpool"
        />
        <img
          class="item-bottom"
          src="../img/sprite.svg#zanussi"
          width="191"
          height="100"
          alt="zanussi"
        />
      </div>
    </div>
    <div class="link-container">
      <a class="link-left link" href="#price">Узнать цены</a>
      <a class="link-right link" data-js-button>Вызвать мастера</a>
    </div>
  </div>
</section>
