<div class="modal" id="modal">
  <div class="modal-box">
    <!--=include form.html -->
    <span class="modal-text">Или свяжитесь со мной напрямую</span>
    <div class="modal__link-container">
      <a href="#" class="modal__link">
        <img
          src="../img/phone.svg"
          alt="Телефон"
          width="48"
          height="48"
          loading="lazy"
        />
      </a>
      <a href="#" class="modal__link">
        <img
          src="../img/whatsapp.svg"
          alt="Whatsapp"
          width="48"
          height="48"
          loading="lazy"
        />
      </a>
      <a href="#" class="modal__link">
        <img
          src="../img/telegram.svg"
          alt="Telegram"
          width="48"
          height="48"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</div>
