<section class="price" id="price" data-js-price>
  <div class="container height inner">
    <div>
      <h2 class="price__title title">Стоимость работ</h2>
      <p class="price__subtitle subtitle">
        Бесплатный выезд мастера. Ремонт в день заявки. Оригинальные запчасти
      </p>
    </div>
    <div class="price__container inner-card">
      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">
            <img src="../img/glass.svg" class="price__card-img" alt="icon" />
            Не морозит
          </h3>
          <p class="price__card-subtitle">от 550₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>
      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">
            <img src="../img/glass.svg" class="price__card-img" alt="icon" />
            Протекает
          </h3>
          <p class="price__card-subtitle">от 400₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>
      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">
            <img src="../img/glass.svg" class="price__card-img" alt="icon" />
            Вибрирует
          </h3>
          <p class="price__card-subtitle">от 700₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>

      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">Покрывается льдом</h3>
          <p class="price__card-subtitle">от 500₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>
      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">На задней стенке лед</h3>
          <p class="price__card-subtitle">от 500₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>
      <div class="price__card" data-js-button>
        <div class="price__card-text">
          <h3 class="price__card-title">Работает только морозилка</h3>
          <p class="price__card-subtitle">от 550₽</p>
        </div>
        <p class="price__card-link">Решить проблему</p>
      </div>
    </div>
    <div class="link-container">
      <a class="link-left link" href="#work">Как мы работаем</a>
      <a class="link-right link" data-js-button>Вызвать мастера</a>
    </div>
  </div>
</section>
