<section class="price" id="price" data-js-price>
  <div class="container inner">
    <div>
      <h2 class="title">Стоимость работ</h2>
      <p class="subtitle">
        Бесплатный выезд мастера. Ремонт в день заявки. Оригинальные запчасти
      </p>
    </div>
    <div class="card-container inner-card">
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">Не морозит</h3>
          </div>
          <p class="card-subtitle">от 550₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">Протекает</h3>
          </div>
          <p class="card-subtitle">от 400₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">Вибрирует</h3>
          </div>
          <p class="card-subtitle">от 700₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">Покрывается льдом</h3>
          </div>
          <p class="card-subtitle">от 500₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">На задней стенке лед</h3>
          </div>
          <p class="card-subtitle">от 500₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="card-text-container">
            <img
              src="../img/glass.svg"
              class="card-img visible-mobile"
              alt="icon"
            />
            <h3 class="card-title">Работает только морозилка</h3>
          </div>
          <p class="card-subtitle">от 550₽</p>
        </div>
        <p class="card-link">Решить проблему</p>
      </div>
    </div>
    <div class="link-container">
      <a class="link-left link" href="#work">Как мы работаем</a>
      <a class="link-right link" data-js-button>Вызвать мастера</a>
    </div>
  </div>
</section>
