<section class="questions height" id="questions" data-js-questions>
  <div class="container inner">
    <div>
      <h2 class="questions__title title">Вопросы</h2>
      <p class="questions__subtitle subtitle">
        Ответы на вопросы, которые могут вас заинтересовать
      </p>
    </div>
    <div class="card-container inner-card">
      <div class="card">
        <p class="card-title">Как происходит оформление заявки?</p>
        <p class="card-subtitle card-answer">
          Вы можете связаться с мастером по телефону, через WhatsApp или
          Telegram, а также отправив заявку через сайт. Мы согласуем удобное для
          вас время визита специалиста. Все контакты указаны внизу страницы.
        </p>
      </div>
      <div class="card">
        <p class="card-title">
          Нужно ли подготовить холодильник к приходу специалиста?
        </p>
        <p class="card-subtitle card-answer">
          В подавляющем большинстве случае ничего делать не нужно, иногда мастер
          может попросить разморозить холодильник до его прихода, но это
          встречается не часто.
        </p>
      </div>
      <div class="card">
        <p class="card-title">Сколько времени занимает ремонт?</p>
        <p class="card-subtitle card-answer">
          Среднее время ремонта бытовых холодильников — от 30 минут до 3 часов,
          в зависимости от типа проблемы.
        </p>
      </div>
      <div class="card">
        <p class="card-title">В какое время приезжает специалист?</p>
        <p class="card-subtitle card-answer">
          Мастер постарается приехать в то время, которое будет удобным для вас,
          с учетом вашего расписания и предпочтений.
        </p>
      </div>
      <div class="card">
        <p class="card-title">
          Как происходит диагностика и ремонт холодильника?
        </p>
        <p class="card-subtitle card-answer">
          После диагностики холодильника на месте мастер объясняет причину
          поломки и озвучивает стоимость ремонта. Если вы решаете провести
          ремонт, мастер немедленно приступает к выполнению работы.
        </p>
      </div>
      <div class="card">
        <p class="card-title">Какую гарантию вы даете на ремонт?</p>
        <p class="card-subtitle card-answer">
          После оплаты ремонта специалист выдает вам официальный гарантийный
          талон сроком до 2х лет. При необходимости мастер выдает чек.
        </p>
      </div>
    </div>
    <div class="link-container">
      <a class="link-left link" href="#contacts">Контакты</a>
      <a class="link-right link" data-js-button>Вызвать мастера</a>
    </div>
  </div>
</section>
