<section class="work height" id="work" data-js-work>
  <div class="container inner">
    <div>
      <h2 class="work__title title">Этапы работы</h2>
      <p class="work__subtitle subtitle">
        Ваш комфорт — наша работа: все этапы ремонта холодильника
      </p>
    </div>
    <div class="card-container inner-card">
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="work__card-text-container">
            <img
              src="../img/Page.svg"
              alt="Страница"
              class="card-img"
              width="36"
              height="36"
              loading="lazy"
            />
            <h3 class="card-title">Оформление заявки</h3>
          </div>
          <p class="card-subtitle">
            Просто оставьте заявку любым удобным для вас способом
          </p>
        </div>
        <p class="card-link">Оставить заявку</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="work__card-text-container">
            <img
              src="../img/Studio.svg"
              alt="Микрофон"
              class="card-img"
              width="36"
              height="36"
              loading="lazy"
            />
            <h3 class="card-title">Консультация</h3>
          </div>
          <p class="card-subtitle">
            Получите ответы на все вопросы и первичную оценку неисправности
          </p>
        </div>
        <p class="card-link">Получить консультацию</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="work__card-text-container">
            <img
              src="
                ../img/glass.svg"
              alt="Поиск"
              class="card-img"
              width="36"
              height="36"
              loading="lazy"
            />
            <h3 class="card-title">Диагностика</h3>
          </div>
          <p class="card-subtitle">
            Мастер на месте осматривает холодильник. Проводит бесплатную
            диагностику
          </p>
        </div>
        <p class="card-link">Назначить диагностику</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="work__card-text-container">
            <img
              src="
                ../img/Image.svg"
              alt="Ремонт"
              class="card-img"
              width="36"
              height="36"
              loading="lazy"
            />
            <h3 class="card-title">Ремонт</h3>
          </div>
          <p class="card-subtitle">
            Если вас устраивает стоимость мастер сразу устраняет поломки и
            возвращает ваш холодильник в рабочее состояние
          </p>
        </div>
        <p class="card-link">Назначить диагностику</p>
      </div>
      <div class="card" data-js-button>
        <div class="card-text">
          <div class="work__card-text-container">
            <img
              src="
                ../img/shield.svg"
              alt="Гарантия"
              class="card-img"
              width="36"
              height="36"
              loading="lazy"
            />
            <h3 class="card-title">Гарантия</h3>
          </div>
          <p class="card-subtitle">
            После завершения ремонта мастер выдает гарантийный талон сроком до
            2х лет
          </p>
        </div>
        <p class="card-link">Назначить диагностику</p>
      </div>
    </div>
    <div class="link-container">
      <a class="link-left link" href="#questions">Вопросы</a>
      <a class="link-right link" data-js-button>Оформить заявку</a>
    </div>
  </div>
</section>
